<h1>Please add a new division:</h1>

<form action="/divisions" method="post">
	<div class="form-group">
		<label for="name">Please enter division name:</label>
		<input id="name" name="name" type="test">
	</div>

	<button type="submit" class="btn-success">Add Division</button>
</form>
