<h1>Big Brother :: The Employee Tracker</h1><br>
<h2>The best way to watch your employees!</h2>
<br>
<br>
<br>
<div class="container" id='animator'>
	<a href="/divisions" class = 'left'>View All Divisions</a>
  <br>
	<a href="/divisions/new" class = 'right'>Add New Division</a>
  <br>
  <a href="/projects" class = 'left'>View All Projects</a>
  <br>
	<a href="/projects/new" class = 'right'>Add New Project</a>
</div>

<div class="whee">

</div>
