<h1>Big Brother :: The Employee Tracker</h1><br>
<h2>The best way to watch your employees!</h2>
<br>
<br>
<br>
<div class="container">
	<a href="/divisions">View All Divisions</a>
  <br>
	<a href="/divisions/new">Add New Division</a>
</div>
