<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Employee Tracker</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/divisions">Divisions</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</div>
	</div>
</nav>



<div class="container">
	<div class="jumbotron">
		<h1>Employee Tracker</h1><br>
		<p>Keep track of divisions, employees and projects.</p>
			<a href="/divisions" class = 'btn btn-success'>View Divisions</a>
		  <a href="/projects" class = 'btn btn-success'>View Projects</a>
		</div>
</div>
