<html>
  <head>
    <title>Big Brother :: The Employee Tracker</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
