<h1>Please add a new project:</h1>

<form action="/projects" method="post">
	<div class="form-group">
		<label for="project_name">Please enter the new projects name:</label>
		<input id="project_name" name="project_name" type="test">
	</div>

	<button type="submit" class="btn-success">Add Project</button>
</form>
