<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Employee Tracker</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/divisions">Divisions</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="jumbotron">
		<h2>Add a project</h2>
		<form action="/projects" method="post">
			<div class="form-group">
				<label for="project_name">Name:</label>
				<input id="project_name" name="project_name" type="test" placeholder="i.e. PepsiCo Website">
				<button type="submit" class="btn btn-success">Add Project</button>
		</form>
	</div>
</div>
